*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root{
  --bg:#131313;
  --mainColor: #F37A53;
  --white:#ffffff;
  --black: #000000;
  --gray: #1F1F1F;
  --bgItemList: #292929;
  --colorlink: #41ADFF;

  --border: 20px;
  --borderDouble: 40px;
}
body{
  width: 100%; height: 100dvh;
  margin: auto;
  max-width: 800px;
  background-color: var(--bg);
}
button{
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}
.itemList span{
  display: flex;
  align-items: center;
}
@view-transition {
  navigation: auto;
}
