---
import style from './noResults.module.css'
import IconBox from '../icons/iconBox.astro'
---
<div class={style.containerNoResults}>
  <IconBox />
  <span class={style.noItemsResults}>Sin resultados</span>
</div>