---
import './navView.css'
---
<nav id="navView" class="containerNav">
  <ul>
    <li><a href="https://www.casvaru.com/">Portafolio</a></li>
    <li><a href="https://blog.casvaru.com/">Blog</a></li>
  </ul>
</nav>