---

---
<button class="navIcon">
  <span class="iconNav1"></span>
  <span class="iconNav2"></span>
  <span class="iconNav3"></span>
</button>
<style>
  .navIcon{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
    border: none;
  }
  .navIcon span{
    width: 25px; height: 4px;
    background-color: var(--white);
    border-radius: 5px;
  }
  .iconNav1{

  }
</style>